body {
    font-family: 'Dosis';
}

.wrapper {
    padding: 30px;
    height: 370px;
}

.time {
    width: 70px;
    background-color: #288251;
    height: 40px;
    color: white;
    font-size: 21px;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    float: right;
}

.cashiers {
    background-color: #f7f7f7;    
}

.cashier {
    margin-right: 30px;
    float: left;
}

.customer {
    float: left;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
    display: inline-block;
}

.customer.impatient {
    border-bottom: 2px solid red;
}

.customer-queue-transition-group-move {
    transition: transform 1s;
}

.customer-queue-transition-group-leave-active {
    position: absolute;
}

.row.title {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c7c7c7;    
}

.staff-statistic span {
    font-size: 11px;
    text-transform: uppercase;
    color: #b0b0b0;
    font-weight: bold;
}


/**
 * Bootstrap overrides
 */

.navbar {
    border-radius: 0px;
    background-color: #32905d;
    border: none;
    margin-bottom: 0px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.progress {
    height: 8px;
}
