<html>
    <head>
        <title>Pretendaurant</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div id="app">
            <div class="header">
                <div class="title">Pretendaurant</div>
            </div>

            <div class="body">

                <div class="working-staff">
                    Cashiers
                    <div class="working-staff-member" v-for="staff in workingStaff">
                        <staff-member v-bind:staff="staff"></staff-member>
                    </div>
                </div>

                <div class="available-staff">
                    Aavilable
                    <div class="available-staff-member" v-for="staff in availableStaff">
                        <staff-member v-bind:staff="staff"></staff-member>
                    </div>
                </div>

                <div class="customer-queue">
                    <customer v-for="customer in customerQueue" v-bind:customer="customer"></customer>
                </div>

                <div class="managers-office">

                    <div class="interviewees">
                        
                    </div>

                    <div class="rejected-interview">

                    </div>
                </div>

                <div class="statistics">
                    
                </div>
            </div>
        </div>

        <script src="/static/js/vue.js"></script>
        <script src="/static/js/index.js"></script>

    </body>
</html>