<html>
    <head>
        <title>Pretendaurant</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div id="app">
            <div class="header">
                <div class="title">Pretendaurant</div>
            </div>

            <div class="body">
                <div class="workers"></div>

                <div class="customers"></div>

                <div class="managers-office">

                    <div class="interviewees">
                        
                    </div>

                    <div class="rejected-interview">

                    </div>
                </div>

                <div class="statistics">
                    
                </div>
            </div>
        </div>

        <script src="/static/js/vue.js"></script>
        <script src="/static/js/index.js"></script>

    </body>
</html>